<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/_fragments :: header(~{::title},~{},~{::meta})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客后端管理页面</title>
</head>
<body>

<!--头部导航-->
<div th:replace="main/_backEnd :: header_backEnd(1)"></div>

<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <a href="#" target="_blank" class="item">发布</a>
        <a href="#" target="_blank" class="active teal item">列表</a>
    </div>
</div>

<!--中间内容   ctrl+enter先输入内容然后注释-->
<!--div +tab 快速补全代码-->
<div class="m-container-small m-padded-tb-big">
    <div class="container">
        <!--搜索条件-->
        <form action="#" class="ui secondary segment form">

            <input type="hidden" name="page">

            <div class=" inline fields">
                <div class="field"><input type="text" name="" placeholder="标题"></div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        <div class="default text">标签</div>
                        <div class="menu">
                            <div class="item" th:each="each : ${categorys}" th:data-value="${each.id}">[[${each.name}]]</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="" id="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="right floated field">
                    <button class="ui teal basic button" type="submit">
                        <i class="search icon"></i>
                        提交
                    </button>
                </div>
            </div>
        </form>
        <!--表格列表-->
        <table class="ui compact teal table">
            <thead>
            <tr>
                <th>标题</th>
                <th>分类</th>
                <th>推荐</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="center aligned" th:each="each : ${blogBeans}">
                <td>
                    <div class="ui ribbon label" th:text="${each.title}"></div>
                </td>
                <td th:text="${each.typeBean.name}"></td>
                <td th:text="${each.recommend} ? '是' : '否'"></td>
                <td th:text="${each.createTime}"></td>
                <td th:text="${each.updateTime}"></td>
                <td>
                    <a href="#" th:href="@{/admin/blog/}+${each.id}" class="ui mini teal basic button">编辑</a>
                    <a href="#" id="btnDel" th:attr="del_url=@{/admin/blog/}+${each.id}" onclick="deleteBtn()"
                       class="ui mini red basic button">删除</a>
                    <form id="deleteFormId" method="post">
                        <input type="hidden" name="_method" value="delete">
                    </form>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="2">
                    <a th:href="@{/admin/blog}" class="ui mini teal basic button">
                        <i class="plus icon"></i>
                        新增
                    </a>
                </th>
                <th colspan="4">
                    <div class="ui right floated pagination menu" th:if="${blogBeans.totalPages>1}">
                        <a th:unless="${blogBeans.first}"
                           class="icon item"
                           onclick="page(this)"
                           th:attr="data-page=${blogBeans.number}-1">
                            <i class="left chevron icon"></i>
                        </a>
                        <a th:unless="${blogBeans.last}"
                           class="icon item"
                           onclick="page(this)"
                           th:attr="data-page=${blogBeans.number}+1">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>


<!--尾部-->
<footer th:replace="main/_fragments :: footer"></footer>


<!--引入js-->
<th:block th:replace="main/_fragments :: script"></th:block>

<script>

    $('.ui.dropdown').dropdown();

    function deleteBtn() {
        $("#deleteFormId").attr("action", $("#btnDel").attr("del_url")).submit();
    }

    function page(obj) {
        $("[name= 'page']").val($(obj).data("page"));
    }

</script>
</body>
</html>