<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/_fragments :: header(~{::title},~{},~{::meta})">
    <!--  关键字  -->
    <meta type="keywords" content="博客404"/>
    <!--  描述　-->
    <meta type="description" content="博客404..."/>
    <title>404错误页面</title>
</head>
<body>

<!--头部导航-->
<nav th:replace="main/_fragments :: menu(1)"></nav>

<br>
<br>
<br>
<br>
<div class="m-container-small m-padded-tb-message">
    <div class="ui error message m-padded-tb-huge">
        <div class="ui container">
            <h2>404</h2>
            <p>对不起,你访问的页面不存在...请与管理员联系</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<!--尾部-->
<footer th:replace="main/_fragments :: footer"></footer>
</body>
</html>