<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/_fragments :: header(~{::title},~{},~{::meta})">
    <!--  关键字  -->
    <meta type="keywords" content="博客归档"/>
    <!--  描述　-->
    <meta type="description" content="博客归档详情页面"/>
    <title>博客归档页面</title>
</head>
<body>

<!--头部导航-->
<div th:replace="main/_fragments :: menu(4)"></div>

<!--中间内容   ctrl+enter先输入内容然后注释-->
<!--div +tab 快速补全代码-->
<div id="middle-content" class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui top attached padded segment">
            <!--middle aligned 代表垂直居中-->
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共<h2 class="ui orange m-inline-blok header m-padded-tb-tiny" th:text="${size}"></h2>个
                </div>
            </div>
        </div>

        <th:block th:each="each :${archives}">
            <h2 class="ui center aligned header" th:text="${each.key}"></h2>
            <div class="ui fluid vertical menu">
                <a href="#" target="_blank" class="item" th:each="blogBean : ${each.value}">
            <span>
                <i class="mini teal circle icon"></i>[[${blogBean.title}]]
                <div class="ui teal basic left pointing label mini" th:text="${#dates.format(blogBean.createTime,'MM-dd')}"></div>
            </span>
                    <div class="ui orange basic left pointing label mini">原创</div>
                </a>
            </div>
        </th:block>
    </div>
</div>

<div th:replace="main/_fragments :: toTop"></div>
<!--尾部-->
<div th:replace="main/_fragments :: footer"></div>


<!--引入js-->
<th:block th:replace="main/_fragments :: script"></th:block>

<script>

</script>
</body>
</html>