<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="main/_fragments :: header(~{::title},~{},~{::meta})">
    <!--  关键字  -->
    <meta type="keywords" content="博客系统,系统,论坛"/>
    <!--  描述　-->
    <meta type="description" content="博客系统功能有点赞留言评论等功能已经..."/>
    <title>博客首页</title>
</head>
<body>

<!--头部导航-->
<nav th:replace="main/_fragments :: menu(1)"></nav>

<!--中间内容   ctrl+enter先输入内容然后注释-->
<!--div +tab 快速补全代码-->
<div id="middle-content" class="m-container m-padded-tb-large">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边内容-->
            <!--top attached 是附加的意思-->
            <div class="eleven wide column">
                <div class="ui top attached segment">
                    <!--middle aligned 代表垂直居中-->
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共<h2 class="ui orange m-inline-blok header m-padded-tb-tiny"
                                 th:text="${pages.getTotalElements()}"></h2>篇
                        </div>
                    </div>
                </div>

                <!--文章列表-->
                <div class="ui attached segment">
                    <div class="ui padded vertical segment m-padded-tb-big" th:each="each : ${pages.content}">
                        <!--mobile reversed 移动端图片显示上面-->
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header m-block">
                                    <a th:href="@{'/blog/'+${each.id}}" class="index-title" target="_blank">
                                        [[${each.title}]]
                                    </a>
                                </h3>
                                <p class="m-text" th:text="${each.description}"></p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img th:src="${each.firstPicture}" src="../static/images/box.png"
                                                     alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header" th:text="${each.userBean.nickName}"></a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>[[${#dates.format(each.createTime,'yyyy-MM-dd
                                                HH:mm:ss')}]]
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>[[${each.views}]]
                                            </div>
                                            <div class="item">
                                                <i class="comment alternate icon">12</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a th:href="@{'/blog/'+${each.id}}" target="_blank"
                                           class="ui teal basic m-padded-mini label m-padded-tb-tiny">阅读全文</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a th:href="@{'/blog/'+${each.id}}" target="_blank">
                                    <img th:src="${each.firstPicture}" alt=""
                                         class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <!--上一页 下一页 底部-->
                <div class="ui button attached segment" th:if="${pages.totalPages>1}">
                    <div class="ui middle aligned two column grid">
                        <div class="column" th:unless="${pages.first}">
                            <a th:href="@{/(page=${pages.number}-1)}" class="ui mini teal basic button">
                                <i class="left chevron icon"></i>
                            </a>
                        </div>
                        <div class="right column">
                            <a th:unless="${pages.last}" th:href="@{/(page=${pages.number}+1)}"
                               class="ui mini teal basic button">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!--右边内容-->
            <div class="five wide column m-margin-top-large">
                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#">more
                                    <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                        <div class="ui two column teal grid">
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item" th:each="each : ${typeBeans}">[[${each.name}]]
                                    <div class="ui teal ba label" th:text="${each.blogBeanList.size()}"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--标签-->
                <div class="ui segments">
                    <div class="ui segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#">more
                                    <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                        <div class="ui teal basic segment">
                            <a href="#" class="ui teal basic left pointing label m-padded-min-max"
                               th:each="each : ${tagBeanList}">
                                [[${each.name}]]
                                <div class="detail" th:text="${each.blogBeans.size()}"></div>
                            </a>
                        </div>
                    </div>
                </div>


                <!--热门文章-->
                <div class="ui segments">
                    <div class="ui secondary segment m-block">
                        <i class="bookmark icon"></i>热门文章
                    </div>
                    <div class="ui divided list segment">
                        <div class="item m-padded-tb-tiny" th:each="each : ${blogBeans}">
                            <i class="map marker icon"></i>
                            <div class="content">
                                <a th:href="@{'/blog/'+${each.id}}" class="item content-item" target="_blank" th:text="${each.title}"></a>
                                <div class="description m-padded-mini">阅读数&nbsp;
                                    <a><b>[[${each.views}]]</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--最新评论-->
                <div class="ui segments">
                    <div class="ui secondary segment m-block">
                        <i class="bookmark icon"></i>最新评论
                    </div>
                    <div class="ui divided list segment">
                        <div class="item m-padded-tb-tiny" th:each="each : ${blogBeans}">
                            <i class="map marker icon"></i>
                            <div class="content">
                                <a th:href="@{'/blog/'+${each.id}}" class="item content-item" target="_blank" th:text="${each.title}"></a>
                                <div class="description m-padded-mini">阅读数&nbsp;
                                    <a><b>[[${each.views}]]</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <!--二维码-->
                <h4 class="ui horizontal divider header">
                    扫码关注我
                </h4>
                <div class="ui centered card" style="width: 11em">
                    <img th:src="@{/static/images/2017-07-10_59631d2325129.jpg}"
                         src="../static/images/2017-07-10_59631d2325129.jpg" alt="" class="ui rounded image">
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="main/_fragments :: toTop"></div>

<!--尾部-->
<footer th:replace="main/_fragments :: footer"></footer>

<!--引入公共js-->
<th:block th:replace="main/_fragments :: script"></th:block>

<script>

</script>
</body>
</html>