<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="main/_fragments :: header(~{::title},~{},~{::meta})">
    <!--  关键字  -->
    <meta type="keywords" content="博客系统,系统,论坛"/>
    <!--  描述　-->
    <meta type="description" content="博客系统功能有点赞留言评论等功能已经..."/>
    <title>博客首页</title>
</head>
<body>

<!--头部导航-->
<nav th:replace="main/_fragments :: menu(1)"></nav>

<!--中间内容   ctrl+enter先输入内容然后注释-->
<!--div +tab 快速补全代码-->
<div id="middle-content" class="m-container m-padded-tb-large">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边内容-->
            <!--top attached 是附加的意思-->
            <div class="eleven wide column">
                <div class="ui top attached segment">
                    <!--middle aligned 代表垂直居中-->
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header" th:text="#{index.blog.Middle.title}"></h3>
                        </div>
                        <div class="right aligned column">
                            [[#{index.blog.Middle.title.common}]]
                            <h2 class="ui orange m-inline-blok header m-padded-tb-tiny"
                                th:text="${pages.getTotalElements()}"></h2>
                            [[#{index.blog.Middle.title.piece}]]
                        </div>
                    </div>
                </div>

                <!--文章列表-->
                <div class="ui attached segment">
                    <div class="ui padded vertical segment m-padded-tb-big" th:each="each : ${pages.content}">
                        <!--mobile reversed 移动端图片显示上面-->
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header m-block">
                                    <a th:href="@{'/blog/'+${each.id}}" class="index-title text-over" target="_blank">
                                        [[${each.title}]]
                                    </a>
                                </h3>
                                <p class="m-text" th:text="${each.description}"></p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img th:src="${each.firstPicture}" src="../static/images/box.png"
                                                     alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header" th:text="${each.userBean.nickName}"></a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>[[${#dates.format(each.createTime,'yyyy-MM-dd
                                                HH:mm:ss')}]]
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>[[${each.views}]]
                                            </div>
                                            <div class="item">
                                                <i class="comment alternate icon" th:text="${#arrays.length(each.commentBeans)}"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a th:href="@{/blog/{id}(id=${each.id})}" target="_blank"
                                           class="ui teal basic m-padded-mini label m-padded-tb-tiny" th:text="#{index.blog.Middle.full.text}"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a th:href="@{/blog/{id}(id=${each.id})}" target="_blank">
                                    <img th:src="${each.firstPicture}" alt=""
                                         class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--上一页 下一页 底部-->
                <div class="ui floated right pagination menu" th:if="${pages.totalPages>1}">
                    <div class="item">
                        <span th:text="#{index.blog.page.current}"></span>
                        <span class="basic" th:text="${pages.getNumber()} + 1"></span><span th:text="#{index.blog.page}"></span>
                        <span th:text="#{index.blog.total}"></span><span class="ui positive" th:text="${pages.totalPages}"></span><span th:text="#{index.blog.page}"></span>
                        <span th:text="#{index.blog.common}"></span><span class="ui positive" th:text="${pages.totalElements}"></span><span th:text="#{index.blog.bar.data}"></span>
                    </div>
                    <a class="active item" th:href="@{/}" th:text="#{fragment.header.blog.home}"></a>
                    <a class="item" th:class="${pages.first}?'item disabled' :'item'"
                       th:href="${pages.first}?'javascript:return false;': @{/(page = ${pages.number}-1)}">
                        <span th:text="#{index.blog.previous.page}"></span>
                    </a>
                    <a class="item" th:class="${pages.last}?'item disabled' :'item'"
                       th:href="${pages.last}?'javascript:return false;': @{/(page = ${pages.number}+1)}">
                        <span th:text="#{index.blog.next.page}"></span>
                    </a>
                    <a class="item" th:href="@{/(page = ${pages.totalPages}-1)}">
                        <span th:text="#{index.blog.tail.page}"></span>
                    </a>
                </div>
            </div>

            <!--右边内容-->
            <div class="five wide column m-margin-top-large">
                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>[[#{fragment.header.blog.category}]]
                            </div>
                            <div class="right aligned column">
                                <a th:href="@{/categary/0}" href="#" target="_blank">more
                                    <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                        <div class="ui two column teal grid">
                            <div class="ui fluid vertical menu">
                                <a th:href="@{/categary/{id}(id=${each.id})}" href="#" target="_blank" class="item"
                                   th:each="each : ${typeBeans}">[[${each.name}]]
                                    <div class="ui teal ba label" th:text="${#arrays.length(each.blogBeanList)}"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--标签-->
                <div class="ui segments">
                    <div class="ui segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>[[#{fragment.header.blog.label}]]
                            </div>
                            <div class="right aligned column">
                                <a th:href="@{/label/0}" href="#" target="_blank">more
                                    <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                        <div class="ui teal basic segment">
                            <a th:href="@{/label/{id}(id=${each.id})}" href="#"
                               class="ui teal basic left pointing label m-padded-min-max" target="_blank"
                               th:each="each : ${tagBeanList}">
                                [[${each.name}]]
                                <div class="detail" th:text="${#arrays.length(each.blogBeans)}"></div>
                            </a>
                        </div>
                    </div>
                </div>


                <!--热门文章-->
                <div class="ui segments">
                    <div class="ui secondary segment m-block">
                        <i class="align justify icon"></i>[[#{index.right.title.hot.articles}]]
                    </div>
                    <div class="ui divided list segment">
                        <div class="item m-padded-tb-tiny" th:each="each : ${blogBeans}">
                            <div class="content item">

                                <a th:href="@{'/blog/'+${each.id}}" class="item content-item text-over" target="_blank">
                                    <i class="map marker icon"></i>
                                    [[${each.title}]]
                                </a>
                                <div class="description m-padded-mini">[[#{index.right.title.reading.number}]]&nbsp;
                                    <a><b>[[${each.views}]]</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--最新评论-->
                <div class="ui segments">
                    <div class="ui secondary segment m-block">
                        <i class="comments icon"></i>[[#{index.right.title.latest.comments}]]
                    </div>
                    <div class="ui divided list segment">
                        <div class="item m-padded-tb-tiny" th:each="each : ${commentBeanList}">
                            <div class="content">
                                <a th:href="@{'/blog/'+${each.blogBean.id}}" class="item content-item text-over"
                                   target="_blank" th:text="${each.blogBean.title}"></a>
                                <div class="description m-padded-mini">[[${each.commentator.nickName}]]
                                    <a th:href="@{'/blog/'+${each.blogBean.id}}" target="_blank" class="item mini"><b
                                            th:text="|:${each.content}|"></b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--二维码-->
                <h4 class="ui horizontal divider header">
                    [[#{index.right.alipay.scan.code.appreciation}]]
                </h4>
                <div class="ui centered card" style="width: 11em">
                    <img th:src="@{/static/images/zanshang.jpg}"
                         src="../static/images/2017-07-10_59631d2325129.jpg" alt="" class="ui rounded image">
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="main/_fragments :: toTop"></div>

<!--尾部-->
<footer th:replace="main/_fragments :: footer"></footer>

<!--引入公共js-->
<th:block th:replace="main/_fragments :: script"></th:block>

<script>

</script>
</body>
</html>