<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/_fragments :: header(~{::title},~{},~{::meta})">
    <!--  关键字  -->
    <meta type="keywords" content="博客标签"/>
    <!--  描述　-->
    <meta type="description" content="博客标签详情页面"/>
    <title>博客标签页面</title>
</head>
<body>

<!--头部导航-->
<div th:replace="main/_fragments :: menu(3)"></div>

<!--中间内容   ctrl+enter先输入内容然后注释-->
<!--div +tab 快速补全代码-->
<div id="middle-content" class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui top attached segment">
            <!--middle aligned 代表垂直居中-->
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共<h2 class="ui orange m-inline-blok header m-padded-tb-tiny"
                         th:text="${#arrays.length(tagBeans)}"></h2>个
                </div>
            </div>
        </div>
        <div class="ui attached segment m-padded-tb-large">
            <a th:href="@{/label/{id}(id=${each.id})}" href="#" th:each="each : ${tagBeans}" class="ui basic left pointing large label m-margin-tb-tiny" th:classappend="${each.id == selectionId}? 'red'">[[${each.name}]]
                <div class="detail" th:text="${#arrays.length(each.blogBeans)}"></div>
            </a>
        </div>


        <div class="ui teal top attached segment">
            <div class="ui padded vertical segment m-padded-tb-big" th:each="each : ${pages.content}">
                <!--mobile reversed 移动端图片显示上面-->
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header m-block">
                            <a th:href="@{'/blog/'+${each.id}}" class="index-title text-over" target="_blank">
                                [[${each.title}]]
                            </a>
                        </h3>
                        <p class="m-text" th:text="${each.description}"></p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img th:src="${each.firstPicture}" src="../static/images/box.png"
                                             alt="" class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header" th:text="${each.userBean.nickName}"></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>[[${#dates.format(each.createTime,'yyyy-MM-dd
                                        HH:mm:ss')}]]
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>[[${each.views}]]
                                    </div>
                                    <div class="item">
                                        <i class="comment alternate icon">12</i>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a th:href="@{'/blog/'+${each.id}}" target="_blank"
                                   class="ui teal basic m-padded-mini label m-padded-tb-tiny">阅读全文</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a th:href="@{'/blog/'+${each.id}}" target="_blank">
                            <img th:src="${each.firstPicture}" alt=""
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div th:if="${#arrays.isEmpty(pages.content)}" class="ui warning message">
                <div class="header">
                    当前分类暂时还没有文章,请暂且等待
                </div>
                <ul class="list">
                    <li>可能博主正在创作中...</li>
                    <li>logding...</li>
                </ul>
            </div>
        </div>

        <!--上一页 下一页 底部-->
        <div class="ui floated right pagination menu" th:if="${pages.totalPages>1}">
            <div class="item">
                当前
                <span class="basic" th:text="${pages.getNumber()} + 1"></span>页
                ,总<span class="ui positive" th:text="${pages.totalPages}"></span>页
                ,共<span class="ui positive" th:text="${pages.totalElements}"></span>条数据
            </div>
            <a class="active item" th:href="@{/label/{id}(id=${selectionId})}">首页</a>
            <a class="item" th:class="${pages.first}?'item disabled' :'item'"
               th:href="${pages.first}?'javascript:return false;': @{'/label/'+${selectionId}(page = ${pages.number}-1)}">
                上一页
            </a>
            <a class="item" th:class="${pages.last}?'item disabled' :'item'"
               th:href="${pages.last}?'javascript:return false;': @{'/label/'+${selectionId}(page = ${pages.number}+1)}">
                下一页
            </a>
            <a class="item" th:href="@{'/label/'+${selectionId}(page = ${pages.totalPages}-1)}">
                尾页
            </a>
        </div>

    </div>
</div>

<br>
<br>
<br>
<!--尾部-->
<div th:replace="main/_fragments :: footer"></div>
<div th:replace="main/_fragments :: toTop"></div>

<!--引入js-->
<th:block th:replace="main/_fragments :: script"></th:block>

<script>

</script>
</body>
</html>